JWT_SECRET="JWT_SECRET"
JWT_EXPIRES_IN="JWT_EXPIRES_IN"
PORT=3000
NASA_API_KEY="DEMO_KEY"
DB_HOST="localhost"
DB_PORT=5432
DB_USERNAME="your_username"
DB_PASSWORD="your_password"
DB_NAME="your_database" 